<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentEasy</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        .get-started {
            display: inline-block;
            background-color: var(--primary-color);
            color: white;
            padding: 12px 24px;
            border-radius: 25px;
            font-size: 1.2rem;
            text-decoration: none;
        }

        .get-started:hover, li:hover {
                background-color: #217dbb;
                text-decoration: none;
                color: white;
        }
        a{
            text-decoration:none;
        }

        li {
            display: inline-block;
            background-color: #59c3b7;
            padding: 2px 8px;
            border-radius: 12px;
            font-size: 1.2rem;
            text-decoration: none;
            list-style:none;
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="/images/logo.png" alt="RentEasy Logo" style="height:40px;" />
                RentEasy
            </a>
            <ul>
                <li class="nav-item">
                    <a class="nav-link"  href="@Url.Action("Login", "Account")" >Login</a>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()
</body>
</html>
