@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<form asp-action="Login" method="post">
    <!-- Display validation errors -->
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label for="identifier">Username</label>
        <input type="text" name="identifier" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
            <input type="password" name="password" class="form-control" id="password" required />
            <div class="input-group-append">
                <span class="input-group-text">
                    <input type="checkbox" onclick="togglePassword()" />
                </span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@section Scripts {
    <script>
        function togglePassword() {
            var x = document.getElementById("password");
            x.type = x.type === "password" ? "text" : "password";
        }
    </script>
}
