@model IEnumerable<RentEasy.Models.Booking>

@{
    ViewData["Title"] = "RenterDashboard";
}
<h2>Your Dashboard</h2>
<a class="btn btn-success mb-3" href="@Url.Action("Create", "Renter")">Add New Items</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Rented Item</th>
            <th>Start</th>
            <th>End</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var renter in Model)
        {
            <tr>
                <td></td>
                <td>@renter.StartDate.ToString("g")</td>
                <td>@renter.EndDate.ToString("g")</td>
                <td>@($"${renter.TotalAmount} CAD")</td>
            </tr>
        }
    </tbody>
</table>
